h1 {
  text-align: center;
}

img {
  display: block;
  width: 300px;
  height: auto;
  /*setting the left and right margins to auto centers the image
  if the display is set to block instead on inline-block or inline*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 3px solid black;
}

/* makes it so that the h1 background color will reach top and
side of the screen, without it h1 background color will not cover 
those areas */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  border: 2px solid black;
  margin: 15px;
  padding: 0px 35px;
}

p,
.directions li {
  line-height: 1.4;
}

.description h2 {
  margin: 5px 0px;
  text-align: center;
  padding: 0px;
}

.ingredients {
  border: 2px solid black;
  margin: 15px;
  padding: 0px 20px;
}

.directions {
  border: 2px solid black;
  margin: 15px;
  padding: 0px 20px;
}

.ingredients li {
  margin-bottom: 10px;
}

.directions li {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

footer a {
  color: rgb(0, 0, 177);
  text-decoration: none;
  font-size: 1.1rem;
  font-variant: small-caps;
}

/********************************page 1 styles********************************/

#page1 {
  background-color: lightblue;
}

#page1 h1 {
  color: green;
  padding: 10px;
  margin: 0px 0px 15px;
  background-color: hsl(195, 31%, 50%);
}

.food-list {
  display: inline-block;
  border: 2px solid black;
  background-color: lightgreen;
  padding: 0px 20px 0px 25px;
}

.food-list li {
  margin: 10px 0px;
  list-style: none;
}

.food-list a {
  font-weight: bold;
  text-decoration: none;
}

.food-list a:hover {
  color: green;
}

/* div is used to make sure that the list is always at the center */
.food-container {
  text-align: center;
}

/**********************************************************************/

#page2 {
  background-color: rgb(0, 91, 0);
}

#page2 {
  color: rgb(168, 158, 158);
}

#page3 {
  background-color: rgb(250, 250, 155);
}

#page4 {
  background-color: rgb(170, 222, 135);
}
